[Desktop Entry]
Categories=System
Comment=
Exec=/usr/libexec/gablue-config
GenericName=Advanced Gablue configuration
GenericName[fr]=Configuration avancée de Gablue
Icon=configurator
Name=Advanced Gablue configuration
Name[fr]=Configuration avancée de Gablue
NoDisplay=false
Path=
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
