[Desktop Entry]
Type=Application
Name=Gablue TV
Name[fr]=Gablue TV
Comment=IPTV Launcher
Comment[fr]=Lanceur IPTV
Exec=tvqt
Icon=video-display
Categories=AudioVideo;TV;
Terminal=false
StartupNotify=false
