[Desktop Entry]
Comment=
Exec=xdg-open /usr/share/ublue-os/gablue/html/gentxt.html
Icon=org.gnome.TextEditor
Name=Générateur de texte IA
NoDisplay=false
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=Office
