[Desktop Entry]
Comment=Hotspot Wi-fi 5Ghz (4476525555)
Exec=ujust hotspot-add
GenericName=Hotspot Wi-fi 5Ghz
Icon=wifi-radar
MimeType=
Name=Hotspot Wi-fi 5Ghz (4476525555)
NoDisplay=false
Path=
StartupNotify=false
StartupWMClass=
Terminal=false
TerminalOptions=
Type=Application
X-KDE-StartupNotify=false
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=Utility;
