[Desktop Entry]
Categories=System
Comment=
Exec=/usr/bin/windows-update
GenericName=Provoquer la mise à jour Windows
Icon=windows95
Name=Provoquer la mise à jour Windows
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
