[Desktop Entry]
Categories=System
Comment=
Exec=/usr/libexec/windows-update-new
GenericName=Provoquer la mise à jour Windows (new)
Icon=windows95
Name=Provoquer la mise à jour Windows (new)
NoDisplay=false
Path=
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
