[Desktop Entry]
Comment=Exécutez des logiciels Windows
Exec=/usr/bin/gwine %f; exec bash
Icon=windows95
Keywords[fr_CH]=wine;windows;
Keywords=wine;windows;
MimeType=application/x-ms-dos-executable;application/x-msi;application/x-ms-shortcut;application/x-wine-extension-msp;application/x-bat;application/x-wgp;
Name=Windows (mode terminal)
NoDisplay=true
Path=
Terminal=true
TerminalOptions=
Type=Application
X-GNOME-UsesNotifications=true
X-KDE-SubstituteUID=false
X-KDE-Username=
X-KDE-StartupNotify=false
