[Desktop Entry]
Categories=System
Comment=
Exec=/usr/bin/gwine --init --kdialog
GenericName=Réinitialiser l'installation Windows
Icon=windows95
Name=Réinitialiser l'installation Windows
NoDisplay=false
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
