[Desktop Entry]
Categories=System
Comment=
Exec=/usr/bin/gwine --update --kdialog
GenericName=Mettre à jour Windows
Icon=windows95
Name=Mettre à jour Windows
NoDisplay=false
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
