[Desktop Entry]
Categories=System
Comment=Windows registry editor via gwine
Comment[fr]=Éditeur de registre Windows via gwine
Exec=/usr/bin/gwine --regedit
GenericName=Windows Registry
GenericName[fr]=Registre Windows
Icon=windows95
Name=Windows Registry
Name[fr]=Registre Windows
NoDisplay=false
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
