[Desktop Entry]
Comment=
Exec=qdbus org.kde.KWin /KWin killWindow
Icon=electrum-axe
Name=AppKiller
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
