[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-wgp;
Actions=LaunchExe;ExtractWGP;RepackWGP
X-KDE-Submenu=Windows

[Desktop Action LaunchExe]
Name=Lancer un autre .exe dans le WGP
Icon=com.usebottles.bottles
Exec=/usr/share/ublue-os/gablue/scripts/launchexewgp.sh %f

[Desktop Action ExtractWGP]
Name=Extraire le WGP dans un dossier
Icon=com.usebottles.bottles
Exec=/usr/share/ublue-os/gablue/scripts/unpackwgp.sh %f

[Desktop Action RepackWGP]
Name=Repack WGP (Choix du mode)
Icon=com.usebottles.bottles
Exec=/usr/share/ublue-os/gablue/scripts/repackwgp.sh %f
