[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=text/x-ms-regedit;
Actions=InstallReg
X-KDE-Submenu=Windows

[Desktop Action InstallReg]
Name=Installer dans le registre
Icon=com.usebottles.bottles
Exec=/usr/share/ublue-os/gablue/scripts/install-reg.sh %f
