[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=x-scheme-handler/bottles;application/x-ms-dos-executable;application/x-msi;application/x-ms-shortcut;application/x-wine-extension-msp;application/x-bat;
Actions=LaunchFix;LaunchTerm
X-KDE-Submenu=Windows
X-KDE-StartupNotify=false

[Desktop Action LaunchFix]
Name=Lancer avec fix gamepad
Icon=com.usebottles.bottles
Exec=/usr/share/ublue-os/gablue/scripts/launchwinfix.sh %f

[Desktop Action LaunchTerm]
Name=Lancer dans le terminal
Icon=com.usebottles.bottles
Exec=konsole -e bash -c "/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=bottles-cli --file-forwarding com.usebottles.bottles run --bottle def --executable '%f'; bash"
