[Desktop Entry]
Comment=
Exec=/usr/share/ublue-os/gablue/scripts/launch-waydroid-fullscreen.sh
Icon=android-sdk
Name=Gabdroid
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Categories=Utility
X-KDE-SubstituteUID=false
X-KDE-Username=
