[Desktop Entry]
Comment=
Exec=waydroid session stop
Icon=waydroid
Categories=X-WayDroid-App;
Name=Waydroid Killer
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
