[Desktop Entry]
Comment=
Exec=waydroid session stop
Icon=waydroid
Categories=X-WayDroid-App;
Name=Kill Waydroid
NoDisplay=false
Path=
Terminal=false
TerminalOptions=
Type=Application
X-KDE-StartupNotify=false
GenericName=Waydroid killer
