[Desktop Entry]
Type=Application
Name=Waydroid (Activer les manettes de jeu)
Exec=waydroid show-full-ui & sleep 4 && pkexec /usr/libexec/waydroid-fix-controllers
Categories=X-WayDroid-App;
X-Purism-FormFactor=Workstation;Mobile;
Icon=waydroid
NoDisplay=false
