polkit.addRule(function(action, subject) {
    if ((action.id == "org.gablue.policykit.waydroid.dlshare.mount" ||
         action.id == "org.gablue.policykit.waydroid.dlshare.umount") &&
         subject.isInGroup("wheel")) {
        return polkit.Result.YES;
    }
});
