# image will be published to ghcr.io/<user>/<name>
name: gablue-nvidia
# description will be included in the image's metadata
description: Kinoite boosted

# the base image to build on top of (FROM) and the version tag to use
base-image: ghcr.io/ublue-os/kinoite-nvidia
image-version: 39 # latest is also supported if you want new updates ASAP

# module configuration, executed in order
# you can include multiple instances of the same module
modules:
  - type: files
    files:
      - usr: /usr # copy static configurations
                  #
                  # copies config/files/usr into your image's /usr
                  #
                  # configuration you wish to end up in /etc/ on the booted system
                  # should be added into /usr/etc/ as that is the proper "distro"
                  # config directory on ostree. Read more in the files module's README

  - type: rpm-ostree
    repos:
        - https://pkgs.tailscale.com/stable/fedora/tailscale.repo
        - https://copr.fedorainfracloud.org/coprs/sramanujam/atuin/repo/fedora-39/sramanujam-atuin-fedora-39.repo
    install:
        - neofetch
        - goverlay
        - ksysguard
        - yakuake
        - papirus-icon-theme
        - x2goclient
        - skanlite
        - gnome-disk-utility
        - lm_sensors
        - solaar
        - corectrl
        - langpacks-fr
        - mc
        - ncdu
        - intel-undervolt
        - tailscale
        - gwenview
        - okular
        - btop
        - unrar
        - yt-dlp
        - mangohud
        - speedtest-cli
        - duf
        - atuin
        - conda
    remove:
      - firefox # default firefox removed in favor of flatpak
      - firefox-langpacks # langpacks needs to also be removed to prevent dependency problems

  - type: bling # configure what to pull in from ublue-os/bling
    install:
      - justfiles # add "!include /usr/share/ublue-os/just/bling.just"
                  # in your custom.just (added by default) or local justfile
      - ublue-os-wallpapers
      - ublue-update # https://github.com/ublue-os/ublue-update

  - type: script
    scripts:
      # this sets up the proper policy & signing files for signed images to work
      - signing.sh

  - type: systemd
    system:
      enabled:
        - sshd.service
        - tailscaled.service
        - nvidia-persistenced.service
      disabled:
        - nvidia-powerd.service

  - type: fonts
    fonts:
      nerd-fonts:
        - FiraCode # don't add "Nerd Font" suffix.
        - Hack
        - SourceCodePro
        - Terminus
        - JetBrainsMono
        - NerdFontsSymbolsOnly
      google-fonts:
        - Roboto
        - Open Sans

  - type: default-flatpaks
    system:
    # If no repo information is specified, Flathub will be used by default
      repo-url: https://dl.flathub.org/repo/flathub.flatpakrepo
      repo-name: flathub
      repo-title: "Flathub (system-wide)" # Optional; this sets the remote's user-facing name in graphical frontends like GNOME Software
      install:
        - com.usebottles.bottles
        - io.freetubeapp.FreeTube
        - io.gitlab.librewolf-community
        - org.atheme.audacious
        - org.libreoffice.LibreOffice
        - org.videolan.VLC
        - com.github.tchx84.Flatseal
        - io.github.flattool.Warehouse
