[Desktop Entry]
Categories=Utility;
Comment=Kill Windows
Exec=pgrep -f bottles | xargs -I {} sh -c 'ps -p {} -o comm= | grep -q "^bwrap$" && kill -9 {}'
GenericName=Windows killer
Icon=com.usebottles.bottles
Keywords[fr_CH]=wine;windows;
Keywords=wine;windows;
MimeType=
Name=Kill Windows
NoDisplay=false
Path=
StartupWMClass=
Terminal=false
TerminalOptions=
Type=Application
X-KDE-StartupNotify=false
