[Desktop Entry]
Comment=Exécutez des applications Linux
Exec=/usr/share/ublue-os/gablue/scripts/launchlin.sh %f
Icon=applications-games
Keywords[fr_CH]=linux;game;jeu;native;
Keywords=linux;game;jeu;native;
MimeType=application/x-lgp;
NoDisplay=true
Path=
StartupWMClass=launchlin
Terminal=false
TerminalOptions=
Type=Application
X-GNOME-UsesNotifications=true
X-KDE-SubstituteUID=false
X-KDE-Username=
X-KDE-StartupNotify=false
