[Desktop Entry]
Comment=Exécutez des logiciels Windows
Exec=/usr/share/ublue-os/gablue/scripts/launchwin.sh %f; exec bash
Icon=com.usebottles.bottles
Keywords[fr_CH]=wine;windows;
Keywords=wine;windows;
MimeType=x-scheme-handler/bottles;application/x-ms-dos-executable;application/x-msi;application/x-ms-shortcut;application/x-wine-extension-msp;application/x-bat;application/x-wgp;
Name=Windows (mode terminal)
NoDisplay=true
Path=
StartupWMClass=bottles
Terminal=true
TerminalOptions=
Type=Application
X-Flatpak=com.usebottles.bottles
X-GNOME-UsesNotifications=true
X-KDE-SubstituteUID=false
X-KDE-Username=
X-KDE-StartupNotify=false
