[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=audio/*;video/*;application/ogg;application/x-matroska;audio/x-flac;audio/flac;
Actions=ConvertMedia

[Desktop Action ConvertMedia]
Name=Convertir le média
Icon=media-playback-start
Exec=/usr/share/ublue-os/gablue/scripts/convert-media.sh %f
