[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=audio/*;video/*;application/ogg;application/x-matroska;audio/x-flac;audio/flac;video/webm;video/x-msvideo;
Actions=ConvertMedia

[Desktop Action ConvertMedia]
Name=Convertir
Icon=media-playback-start
Exec=~/Temp/convert-media.sh %F
