[Desktop Entry]
Type=Service
Name=Create LGP Package
MimeType=inode/directory;
Actions=CreateLGP
X-KDE-Submenu=Linux

[Desktop Action CreateLGP]
Name=Créer un pack LGP
Icon=tux
Exec=/usr/share/ublue-os/gablue/scripts/makelgp.py %f
