[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory;
Actions=CreateWGP
X-KDE-Submenu=Windows

[Desktop Action CreateWGP]
Name=Créer un pack WGP
Icon=windows95
Exec=/usr/share/ublue-os/gablue/scripts/makewgp.py %f
