[Desktop Entry]
Type=Service
Name=Create WGP Package
MimeType=inode/directory;
Actions=CreateWGP

[Desktop Action CreateWGP]
Name=Créer un pack WGP
Icon=windows95
Exec=/usr/share/ublue-os/gablue/scripts/makewgp.py %f
