[Desktop Entry]
Type=Service
Name=Create LGP Shortcut
MimeType=application/x-lgp;
Actions=CreateGameShortcut;AddToES

[Desktop Action CreateGameShortcut]
Name=Ajouter dans le menu Plasma
Icon=org.kde.plasma.excalibur
Exec=/usr/share/ublue-os/gablue/scripts/create-game-shortcut.sh %u

[Desktop Action AddToES]
Name=Ajouter dans ES
Icon=org.es_de.emulationstation-de
Exec=/usr/share/ublue-os/gablue/scripts/add-to-es.sh %u
