[Desktop Entry]
Type=Service
Name=Edit WGP Package
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-wgp;
Actions=LaunchExe;ExtractWGP
X-KDE-Submenu=Windows

[Desktop Action LaunchExe]
Name=Lancer un autre .exe dans le WGP
Icon=windows95
Exec=gwine --exewgp %f

[Desktop Action ExtractWGP]
Name=Extraire le WGP dans un dossier
Icon=windows95
Exec=/usr/share/ublue-os/gablue/scripts/unpackwgp.sh %f
