[Desktop Entry]
Type=Service
Name=Edit LGP Package
MimeType=application/x-lgp;
Actions=ExtractLGP

[Desktop Action ExtractLGP]
Name=Extraire le LGP dans un dossier
Icon=tux
Exec=/usr/share/ublue-os/gablue/scripts/unpacklgp.sh %f
