[Desktop Entry]
Type=Service
Name=Edit LGP Package
MimeType=application/x-lgp;
Actions=SelectExe;ExtractLGP

[Desktop Action SelectExe]
Name=Lancer un autre exécutable dans le LGP
Icon=tux
Exec=/usr/share/ublue-os/gablue/scripts/lgplaunch.sh --exe %f

[Desktop Action ExtractLGP]
Name=Extraire le LGP dans un dossier
Icon=tux
Exec=/usr/share/ublue-os/gablue/scripts/unpacklgp.sh %f
