[Desktop Entry]
Type=Service
Name=Install Windows Registry
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=text/x-ms-regedit;
Actions=InstallReg
X-KDE-Submenu=Windows

[Desktop Action InstallReg]
Name=Installer dans le registre
Icon=windows95
Exec=gwine --reg %f
