[Desktop Entry]
Type=Application
Name=Flatpak custom overrides
Comment=Flatpak custom overrides
NoDisplay=true
Exec=/usr/share/ublue-os/gablue/scripts/flatpakoverrides.sh
Terminal=false
